{% extends 'entries/base.html' %}

{% block title %}
Home - Diary
{% endblock %}

{% block content %}
<a href="{% url 'entries:add' %}">Add</a>

{% regroup entries by created.date.year as years_entry %}
<ul>
    {% for year_entry in years_entry %}
    <li>
        {{ year_entry.grouper }}
        {% regroup year_entry.list by created.date.month as months_entry %}
        <ul>
            {% for month_entry in months_entry %}
            <li>
                {{ month_entry.grouper }}
                {% regroup month_entry.list by created.date.day as days_entry %}
                <ul>
                    {% for day_entry in days_entry %}
                    <li>
                        {{ day_entry.grouper }}
                        <ul>
                            {% for entry in day_entry.list %}
                            <li id='id-entry'>
                                {{ entry.created.time }}
                                <br>
                                {{ entry.text|linebreaksbr }}
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}