{% extends 'entries/base.html' %}

{% block title %}
Home - Diary
{% endblock %}

{% block content %}
<a href="{% url 'entries:add' %}">Add</a>

{% regroup entries by created.date as days_entry %}
<ul>
    {% for day in days_entry %}
    <li>{{ day.grouper }}</li>
    <ul>
        {% for entry in day.list %}
        <li id='id_entry'>
            {{ entry.created.time }}
            <br>
            {{ entry.text|linebreaksbr }}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>

{% endblock %}